footer {
  min-height: 10rem;
  background-color: #333333;
  padding: 5rem 0;
  color: #fff;
}

.footer__left {
  @media (max-width: $breakpoint1) {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.footer__right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__container {
  display: flex;
  flex: auto 1 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__infoitem {
  font-family: 'OpenSansCondensed';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2.5rem;
  @media (max-width: $breakpoint1) {
  }
}

.formbuttom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.textarea {
  display: block;
  width: 30.1rem;
  height: 11rem;
  resize: none;
  margin-right: 0;
  @media (max-width: $breakpoint1) {
    width: 100%;
  }
}

.formup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @media (max-width: $breakpoint1) {
    width: 100%;
    margin-right: 0;
  }
}

.formtext {
  max-width: 39rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  margin-bottom: 2rem;
}

.copyrights {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  border-top: 1px solid #565656;
  color: #989898;
}
